In [1]:
from __future__ import division

In [2]:
import pandas as pd
destinations = pd.read_csv('W:/LargeDataSets/Expedia/destinations.csv')

In [3]:
destinations.describe()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
count,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,...,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000,62106.000000
mean,32359.463884,-2.193903,-2.202854,-2.207391,-2.194040,-2.161497,-2.045110,-2.202433,-2.203207,-2.107808,...,-2.204092,-2.196919,-2.203262,-2.205128,-2.201925,-2.203332,-2.202989,-2.208359,-2.208269,-2.199470
std,18711.765765,0.038576,0.041065,0.040092,0.041406,0.066197,0.135803,0.038886,0.036578,0.197904,...,0.037164,0.059914,0.046520,0.039465,0.041603,0.038239,0.051552,0.038035,0.038569,0.042438
min,0.000000,-2.597617,-2.671613,-2.671613,-2.671613,-2.671613,-2.344165,-2.671613,-2.671613,-2.495544,...,-2.620769,-2.671613,-2.671613,-2.671613,-2.671613,-2.671613,-2.671613,-2.671613,-2.671613,-2.671613
25%,16320.250000,-2.209336,-2.220192,-2.223679,-2.211437,-2.192158,-2.154267,-2.218745,-2.219086,-2.197704,...,-2.219630,-2.216147,-2.220347,-2.221893,-2.218394,-2.220500,-2.221748,-2.224618,-2.224290,-2.216428
50%,32277.500000,-2.185969,-2.193247,-2.195208,-2.188057,-2.178255,-2.088598,-2.192513,-2.192915,-2.177229,...,-2.192232,-2.190525,-2.192814,-2.194127,-2.191564,-2.192200,-2.193352,-2.196185,-2.195900,-2.190953
75%,48467.750000,-2.175309,-2.179261,-2.179990,-2.176763,-2.153317,-1.975940,-2.178976,-2.179164,-2.123598,...,-2.178093,-2.177777,-2.178996,-2.179475,-2.178335,-2.177590,-2.178927,-2.180602,-2.180380,-2.178088
max,64993.000000,-1.596004,-1.341325,-1.917826,-1.814585,-1.607558,-1.209058,-1.474441,-1.879678,-0.977219,...,-1.855317,-0.960356,-1.357408,-1.775218,-1.790435,-1.799341,-1.335962,-1.816892,-1.718778,-1.500309

In [4]:
destinations.head()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,...,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,...,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,...,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [5]:
#OK, destinations doesn't look super useful right away, so I'm going to look at the other data set.

In [13]:
#I'm only taking 100,000 rows to make it easier to play with. Obviously, we'll use the full dataset after we've explored a bit
import random
filename = 'W:/LargeDataSets/Expedia/train.csv' # I'll out the file location here to make it easier to other people to change
n = sum(1 for line in open(filename)) - 1 #number of rows in data set (not counting header)
s = 100000 #number of rows in sample datat set
skip = sorted(random.sample(xrange(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
df = pd.read_csv(filename, skiprows=skip)

In [14]:
df.describe()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,64257.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,9.822350,2.678270,86.143110,308.355950,27751.311010,1975.685951,603527.945740,0.133770,0.246970,5.871230,...,0.329330,1.111800,14403.920800,2.58293,0.078190,1.487490,3.153120,81.048460,603.127220,49.850260
std,11.972473,0.749176,59.321105,208.777016,16754.651005,2230.359298,350799.505036,0.340407,0.431251,3.717707,...,0.725201,0.455788,11041.458597,2.15202,0.268472,1.253164,1.618666,56.053718,512.945564,28.981491
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.005600,6.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.000000,1.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,3.000000,66.000000,174.000000,13087.000000,313.722800,296569.000000,0.000000,0.000000,2.000000,...,0.000000,1.000000,8266.000000,1.00000,0.000000,1.000000,2.000000,50.000000,181.000000,25.000000
50%,2.000000,3.000000,66.000000,312.000000,27655.000000,1156.022400,604529.000000,0.000000,0.000000,9.000000,...,0.000000,1.000000,9145.000000,1.00000,0.000000,1.000000,2.000000,50.000000,602.000000,49.000000
75%,15.000000,3.000000,71.000000,385.000000,42328.000000,2559.820200,907300.750000,0.000000,0.000000,9.000000,...,0.000000,1.000000,18788.000000,5.00000,0.000000,2.000000,4.000000,106.000000,701.000000,73.000000
max,53.000000,4.000000,239.000000,1021.000000,56507.000000,11691.621100,1198776.000000,1.000000,1.000000,10.000000,...,9.000000,8.000000,65035.000000,9.00000,1.000000,53.000000,6.000000,212.000000,2117.000000,99.000000

In [15]:
df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-01-08 14:15:40,2,3,66,462,41898,2455.2272,1482,0,0,...,0,1,28494,6,0,4,2,50,680,77
1,2014-07-09 01:13:14,25,2,23,48,4924,NaN,3972,1,0,...,1,1,8254,1,0,2,2,50,365,72
2,2014-07-10 23:26:18,25,2,23,48,4924,NaN,3972,1,0,...,1,1,8278,1,0,1,2,50,368,63
3,2014-12-15 12:21:04,33,2,194,38,42328,NaN,6356,0,1,...,0,1,8220,1,0,1,3,182,46,62
4,2014-07-02 13:59:58,11,3,205,354,25315,97.0221,6450,0,0,...,0,1,24648,6,0,1,2,50,572,32

In [16]:
df.shape

(100000, 24)

In [17]:
type(df['date_time'][0])

str

In [18]:
#Looks like date_time is a string, we'll have to fix that up so it's more useful to us
df["date_time"] = pd.to_datetime(df["date_time"])
df["year"] = df["date_time"].dt.year
df["month"] = df["date_time"].dt.month
#df["time"] = df["date_time"].dt.time
df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,year,month
0,2014-01-08 14:15:40,2,3,66,462,41898,2455.2272,1482,0,0,...,28494,6,0,4,2,50,680,77,2014,1
1,2014-07-09 01:13:14,25,2,23,48,4924,NaN,3972,1,0,...,8254,1,0,2,2,50,365,72,2014,7
2,2014-07-10 23:26:18,25,2,23,48,4924,NaN,3972,1,0,...,8278,1,0,1,2,50,368,63,2014,7
3,2014-12-15 12:21:04,33,2,194,38,42328,NaN,6356,0,1,...,8220,1,0,1,3,182,46,62,2014,12
4,2014-07-02 13:59:58,11,3,205,354,25315,97.0221,6450,0,0,...,24648,6,0,1,2,50,572,32,2014,7

In [19]:
#Some of the columns are not show, so let's take a look at them all
col = df.columns.values
print(col)

['date_time' 'site_name' 'posa_continent' 'user_location_country'
 'user_location_region' 'user_location_city' 'orig_destination_distance'
 'user_id' 'is_mobile' 'is_package' 'channel' 'srch_ci' 'srch_co'
 'srch_adults_cnt' 'srch_children_cnt' 'srch_rm_cnt' 'srch_destination_id'
 'srch_destination_type_id' 'is_booking' 'cnt' 'hotel_continent'
 'hotel_country' 'hotel_market' 'hotel_cluster' 'year' 'month']

In [20]:
'''OK, it looks like is_booking what what we're trying to predict. A lot of these categories don't seem that helpful...'''

"OK, it looks like is_booking what what we're trying to predict. A lot of these categories don't seem that helpful..."

In [21]:
#Let's remove is_booking from this dataframe so we can predict with it
train = df.drop('is_booking', 1)
train = train.drop('date_time', 1)
print(train.columns.values)
test = df['is_booking']

['site_name' 'posa_continent' 'user_location_country'
 'user_location_region' 'user_location_city' 'orig_destination_distance'
 'user_id' 'is_mobile' 'is_package' 'channel' 'srch_ci' 'srch_co'
 'srch_adults_cnt' 'srch_children_cnt' 'srch_rm_cnt' 'srch_destination_id'
 'srch_destination_type_id' 'cnt' 'hotel_continent' 'hotel_country'
 'hotel_market' 'hotel_cluster' 'year' 'month']

In [22]:
#Let's see what percentage of people book, just to get an idea
print("{percentage}% of people book.".format(percentage=100 * sum(test)/len(test)))

7.819% of people book.

In [23]:
#Now let's break up this smaller data set into a training and a testing group
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size=0.2, random_state=585487)